//navegations
@import "~@angular-mdc/theme/material";
//top-bar

.mdc-top-app-bar{
  @include mdc-top-app-bar-fill-color(#018786);
  color: #000;
  min-width: 280px;
}

.custom-select-outline-shape-radius {
  @include mdc-select-outline-shape-radius(50%);
}

.mdc-select{
  max-width: 40%;
  max-height: 99%; 
  @include mdc-select-outline-color(green);
 
  
}

.mdc-select--focused .mdc-select__selected-text{
  color: white;
}

mdc-icon{
  font-size: 30px;
  color: #000;
}



  //side nav 
 
  .mdc-list-item__graphic{
    margin-right:0px;
  }
    .mdc-sub-list .mdc-list-item{
      padding: 0 40px;
  
  }
  
  .mdc-drawer{
    width: 265px;
    top: 7%;
    bottom: 0;
    position: fixed;
    a{
      text-decoration: none;
      color: #000;
      font-weight: 500;
      font-size: 1rem;
    }
   
  }
    .footer{
      position: fixed;
      bottom: 1%;
      height: 20px;
      text-align: center;
      margin-left: 40px;
      font-size: 12px;
    }

    //content