//navegations
@import "~@angular-mdc/theme/material";
//top-bar

.mdc-top-app-bar{
  @include mdc-top-app-bar-fill-color(#363640);
  min-width: 280px;
}



mdc-icon{
  font-size: 30px;
}



  //side nav 
 
  .mdc-list-item__graphic{
    margin-right:0px;
  }
    .mdc-sub-list .mdc-list-item{
      padding: 0 40px;
  
  }
  
  .mdc-drawer{
    width: 265px;
    top: 7%;
    bottom: 0;
    position: fixed;
    background-color: #f9f9f9;
    ul{
      float: left;
    }
    a{
      text-decoration: none;
      color: #000;
      font-weight: 500;
      font-size: 1rem;
    }
   mdc-icon{
     font-size: 18px;
   }
  }
    .footer{
      position: fixed;
      bottom: 1%;
      height: 20px;
      text-align: center;
      margin-left: 40px;
      font-size: 12px;
    }

    //content
    ::ng-deep .progress {
      background-color: unset;
    }

    .content-video{
      position: relative;
      //margin-top: 8%;
      box-shadow: 0 0 20px rgba(0,0,0,0.5);
      //display: flex;
      //padding-top: 8%;
      //width: 80%;
      margin: 10% 2%;
    }
    .content-video-list{
      position: relative;
      float: left;
      //display: flex;
      margin-top: 10%;
    }
    ul{
      list-style: none;
      padding-left: 0;
      margin: 0 0 0 5px;
      float: right;
      margin: 1% 0 0 1%;
      li{
        display: flex;
        margin-bottom: 15px;
        img{
          box-shadow: 0 0 30px rgba(0,0,0,0.6);
          width: 150px;
          height: 100px;
          margin-right: 10px;
          cursor: pointer;
        }
       
      }
     
      li >img:hover{
        border: 4px solid #ff1d5e !important;
      }
      li:visited {
        border: 4px solid #ff1d5e !important;
      }
     
    }