
<mdc-top-app-bar fixed  >
    <mdc-top-app-bar-row>
        <mdc-top-app-bar-section align="start" title="App">
            <button mdcTopAppBarNavIcon (click)="drawer.open = !drawer.open">
                <mdc-icon>menu</mdc-icon>
            </button>
        </mdc-top-app-bar-section>
    </mdc-top-app-bar-row>
</mdc-top-app-bar>

<!-- drawer -->
<div class="drawer-app-content">
    <mdc-drawer drawer="dismissible" #drawer>
        <mdc-drawer-header title="Drawer Title" subtitle="Subtitle"></mdc-drawer-header>
        <mdc-drawer-content>
          <nav class="navegations ">
            <ul class="mdc-list" >
              <div *ngFor="let key of route.navSection">
                <li class="mdc-list-item " >
                  <a [routerLink]="route.navLinks[key].location " (click)="route.navLinks[key].name == 'Россия' ? route._isDroped() : ''">
      
                    <!-- <mdc-icon mdcListItemGraphic *ngIf="route.navLinks[key].icon">{{route.navLinks[key].icon}}</mdc-icon>
                    {{route.navLinks[key].name}} -->
                    <span  *ngIf="route.navLinks[key].icon">
                      <img class="icon-img" src={{route.navLinks[key].icon}} >
                      {{route.navLinks[key].name}}
                    </span>
                    <mdc-icon  mdcListItemGraphic  mdcSuffix *ngIf="route.navLinks[key].name == 'Россия'" >
                      {{route.icon}}
                    </mdc-icon>
                  </a>

              </li> 

                <ul class="mdc-list mdc-sub-list" *ngIf="route.isDroped == true" >
                    <li class="mdc-list-item" *ngFor="let subPage of route.navLinks[key].subPages">
                      <a [routerLink]="subPage.location">
                        <!-- <mdc-icon mdcListItemGraphic *ngIf="subPage.icon">{{subPage.icon}}</mdc-icon> -->
                        <img  style="width: 30px;" *ngIf="subPage.icon" src={{subPage.icon}} >
                        {{subPage.name}}
                      </a>
                    </li> 
                </ul>  
    
              </div>
               
              </ul> <!-- </mdc-list> -->
    
          </nav>
    
          <p class="footer">
              Copy@right АСОИУ
          </p>
         
        </mdc-drawer-content>
      </mdc-drawer>
      <div mdcDrawerAppContent fxLayout="row" fxLayoutAlign="space-around center">
    
       <!-- content -->
       <div class="content-video">
        <mat-video
        [@inOutAnimation] 
        title="My Tutorial Title" 
        [autoplay]="true" 
        [preload]="true" 
        [fullscreen]="true"
        [download]="false"
        showFrameByFrame="true" 
        color="accent" 
        spinner="spin" 
        poster="{{demoContent?.coverImg}}">
         <source matVideoSource src="{{currentVideo}}" type="video/mp4">
         <!-- <source src="tutorial.webm" type="video/webm"> -->
         <!-- <track matVideoTrack src="subtitles_en.vtt" kind="subtitles" srclang="en" label="English"> -->
         <!-- <track src="subtitles_no.vtt" kind="subtitles" srclang="no" label="Norwegian"> -->
       </mat-video>
             

      </div>
     <div class="content-video-list" *ngIf="demoContent?.src.length > 1" fxFlex>
      <ul>
        <li matRipple [matRippleColor]="matRiplecolor" [matRippleCentered]="matRipleCentered" 
           *ngFor="let video of demoContent?.src">
            <img class="img-cover"
            [src]="demoContent?.coverImg" 
            [alt]="demoContent.name"
             (click)="onVideoClick(video)">
        
        </li>
      </ul>
     </div>
       

</div>



