<div class="bg-gradient-secondary">
  <!-- <mat-progress-bar *ngIf="isQuery" mode="query" style="margin-top: 5px;"></mat-progress-bar> -->
  <div>
    <div class="container-fluid mt--7">
      <div class="row" style="display: flow-root;">
        <div class=" mt-5 justify-content-center" >
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col ">
                  <h3 class="mb-0">
                    Demonstration contents
                  </h3>
                </div>
              </div>
            </div>

            <div class="table-responsive">
              <!-- content table -->
              <table class="table align-items-center table-flush" id="table">
                <thead class="thead-light">
                  <tr>
                    <th scope="col"> Title</th>
                    <th scope="col">Category</th>
                    <th scope="col">Demo contents</th>
                    <th scope="col">Author</th>
                    <th scope="col">Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr role="button" class="ripple">
                    <th scope="row">hey</th>
                    <td>ola</td>
                    <td>ola</td>
                    <td>ola</td>
                    <td>ola</td>
                  </tr>
                 
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="add-btn">
      <a 
      role="button" 
      [routerLink]="['/admin-uploadTask']" 
      routerLinkActive="active"  
      mat-icon-button class="btn btn-primary"
      id="btn-add">
        <i class="fas fa-plus"></i>
      </a>
    </div>
  </div>
</div>