@import "~@angular-mdc/theme/material";




//top-bar
//navegation 
@import '../../../shared/custom/topbar-side-navbar';



.mdc-drawer {
  top: 3.5rem !important;
}

//content
.card {
  cursor: pointer;
  width: 220px;
  margin: 20px 10px 20px 25px;
  height: 280px;
  position: relative;
  float: left;



  mat-card-image {
    max-height: 200px;
  }
}

.card:hover {
  background-color: #b0d0ea;
}



.card__title {
  margin: 0;
  font-weight: 500;
  font-size: smaller;
}

.card__subtitle {

  margin: 0;
}

.card__secondary {

  padding: 0 .5rem 6px .5rem;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.play-icon {
  font-size: 50px;
  //display: flex;
  //justify-content: center;
  color: #007bff;
  position: absolute;
  left: 1.5em;
  top: 1.5em;
}
