@import "~@angular-mdc/theme/material";




//top-bar
//navegation 
@import '../../../shared/custom/topbar-side-navbar';



.mdc-drawer{
  top: 3.5rem !important;
}

  //content
.card {
    width: 260px;
    margin: 20px 10px 20px 25px;
    height: 300px;
    position: relative;
    float: left;
    //top: 56px;
   //margin-top: 15%;


   mdc-card-media{
     max-height: 200px;
   }
  }
  
  .card__primary {
    padding: 0.3rem;
    padding-bottom: unset;
  }
  
  .card__title {
    margin: 0;
  }
  
  .card__subtitle {
    //@include mdc-theme-prop(color, text-secondary-on-background);
  
    margin: 0;
  }
  
  .card__secondary {
    //@include mdc-theme-prop(color, text-secondary-on-background);
  
    padding: 0 .5rem 6px .5rem;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  
.play-icon{
  font-size: 70px;
  display: flex;
  justify-content: center;
  color: #007bff;
  position: relative;
  bottom: 70px;

}
