<div *ngIf="!selectedCategory">
  <mat-progress-bar *ngIf="querryProgressBar" mode="query"></mat-progress-bar>
</div>
<div *ngIf="selectedCategory">
  <mat-progress-bar *ngIf="querryProgressBar" mode="query"></mat-progress-bar>
</div>
<mat-toolbar class="mat-elevation-z6">
  <!-- <mdc-top-app-bar-row> -->
  <!-- <mdc-top-app-bar-section align="start" title="App"> -->
  <button mat-icon-button class="btn" (click)="opened = !opened">
    <!-- <mat-icon>menu</mat-icon> -->
    <i class="fas fa-bars" style="color: #fff; display: flex"></i>
  </button>
  <!-- </mdc-top-app-bar-section> -->
  <!-- <mdc-top-app-bar-section align="end"> -->
  <span class="bar-spacer"></span>
  <mat-form-field mdcTopAppBarTitle>
    <mat-label>Categories</mat-label>
    <mat-select [(ngModel)]="selectedCategory">
      <mat-option *ngFor="let item of allDemoCategory" [value]="item">
        {{item.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!-- </mdc-top-app-bar-section> -->
  <!-- </mdc-top-app-bar-row> -->
</mat-toolbar>

<!-- drawer -->
<div class="drawer-app-content">
  <mat-sidenav-container
    class="main-sidenav-container"
    (backdropClick)="opened = !opened"
  >
    <mat-sidenav
      [mode]="mode"
      [opened]="opened"
      [fixedInViewport]="true"
      [fixedTopGap]="layoutGap"
    >
      <div class="row mt-2" *ngIf="!login">
        <div class="col align-items-center d-none d-md-flex">
          <div class="mb-5" placement="bottom-right">
            Вы не вошли в систему
            <a
              role="button"
              routerLinkActive="active"
              [routerLink]="['/login']"
            >
              <div class="p-2">
                <button class="btn btn-light">
                  <i class="pr-1 fas fa-running"></i>
                  <span>(Вход)</span>
                </button>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="row m-3" *ngIf="login">
        <div class="col align-items-center d-none d-md-flex">
          <div class="mb-5" placement="bottom-right">
            <a
              role="button"
              routerLinkActive="active"
              [routerLink]="['/user-profile']"
            >
              <div class="media align-items-center">
                <span class="avatar avatar-sm rounded-circle p-2">
                  <img
                    alt="Image placeholder"
                    src="../../../../assets/icons/user.png"
                    style="width: 50px"
                  />
                </span>
                <div class="p-2 media-body ml-2 d-lg-block">
                  <span class="mb-0 text-sm font-weight-bold">
                    {{username}}
                  </span>
                </div>
              </div>
            </a>

            <div class="p-2">
              <button class="btn btn-light" (click)="logOut()">
                <i class="pr-1 fas fa-running"></i>
                <span>Выйти</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div>
        <nav class="navegations">
          <ul class="mat-list">
            <div *ngFor="let key of route.navSection">
              <li class="matt-list-item">
                <a
                  [routerLink]="route.navLinks[key].location"
                  (click)="route.navLinks[key].name
                  == 'Россия' ? route._isDroped() : ''"
                >
                  <!-- <mdc-icon mdcListItemGraphic *ngIf="route.navLinks[key].icon">{{route.navLinks[key].icon}}</mdc-icon>
                        {{route.navLinks[key].name}} -->
                  <span class="nav-a" *ngIf="route.navLinks[key].icon">
                    <i class="icon-img {{ route.navLinks[key].icon }}"></i>
                    {{ route.navLinks[key].name }}
                  </span>
                  <mat-icon
                    mdcListItemGraphic
                    mdcSuffix
                    *ngIf="route.navLinks[key].name == 'Россия'"
                  >
                    <i
                      *ngIf="!route.isDroped"
                      class="nav-a fa fa-sort-down"
                    ></i>
                    <i *ngIf="route.isDroped" class="nav-a fa fa-sort-up"></i>
                  </mat-icon>
                </a>
              </li>

              <ul class="sub-list" *ngIf="route.isDroped == true">
                <li
                  class="matt-list-item"
                  *ngFor="let subPage of
                  route.navLinks[key].subPages"
                >
                  <a class="nav-a" [routerLink]="subPage.location">
                    <i
                      class="icon-img {{ subPage.icon }}"
                      mdcListItemGraphic
                      *ngIf="subPage.icon"
                    ></i>
                    <!-- <mdc-icon mdcListItemGraphic *ngIf="subPage.icon">{{subPage.icon}}</mdc-icon> -->
                    {{ subPage.name }}
                  </a>
                </li>
              </ul>
            </div>
          </ul>
          <!-- </mdc-list> -->
        </nav>

        <p class="footer">Copy@right АСОИУ</p>
      </div>
    </mat-sidenav>

    <div>
      <!-- not network alert -->
      <not-network *ngIf="notnework" style="margin-top: 60px"></not-network>

      <!-- content -->
      <div
        *ngIf="!selectedCategory"
        class="justify-content-center"
        [ngStyle]="{'margin-top' : continueTestAlert ? 'unset;': '60px;'}"
      >
        <!-- alert -->
        <div
          class="alert alert-warning"
          role="alert"
          *ngIf="continueTestAlert"
          style="margin-top: 5rem; margin-right: 1rem; margin-left: 1rem"
        >
          Please continue the current starting test at
          <a
            routerLinkActive="active"
            [routerLink]="['/test']"
            class="alert-link"
          >
            test page
          </a>
          . Give it a click to continue.
        </div>

        <mat-card class="card" *ngFor="let item of ContentArr">
          <span (click)="onSelectedCard(item)">
            <span>
              <mdc-icon class="play-icon">play_circle_outline</mdc-icon>
              <img mat-card-image src="{{imgurl(item)}}" alt="cover image" />
            </span>

            <mat-card-content>
              <p class="card__title">{{item.title}}</p>

              <div class="card__secondary">{{item.description}}</div>
            </mat-card-content>
          </span>
        </mat-card>
      </div>

      <!-- content with selected category -->
      <div
        *ngIf="selectedCategory"
        [ngStyle]="{'margin-top' : continueTestAlert ? 'unset;': '60px;'}"
      >
        <!-- alert -->
        <div
          class="alert alert-warning"
          role="alert"
          *ngIf="continueTestAlert"
          style="margin-top: 5rem; margin-right: 1rem; margin-left: 1rem"
        >
          Please continue the current starting test at
          <a
            routerLinkActive="active"
            [routerLink]="['/test']"
            class="alert-link"
          >
            test page
          </a>
          . Give it a click to continue.
        </div>

        <mat-card class="card" *ngFor="let item of filteredCategory()">
          <span (click)="onSelectedCard(item)">
            <span>
              <mdc-icon class="play-icon">play_circle_outline</mdc-icon>
              <img mat-card-image src="{{imgurl(item)}}" alt="cover image" />
            </span>

            <mat-card-content>
              <p class="card__title">{{item.title}}</p>

              <div class="card__secondary">{{item.description}}</div>
            </mat-card-content>
          </span>
        </mat-card>
      </div>
    </div>
  </mat-sidenav-container>
</div>
