


.layout__row{
    .menu-btn{
      position: relative;
      bottom: 80% !important;
      top: 50%;
      left: 25%;
    }
  
  
     .mdc-fab{
        background-color: #343a40;
     }
  
     .mdc-icon{
      color:#fff;
      //font-size:35px;
      font-weight: 500;
     }

     
  }

  .icon-img{
    width: 40px;
  }

  a{
    text-decoration: none;
    //color: #6610f2;
  }

  .navegations{
    font-family: Roboto, Arial, sans-serif;
  }

//   .mdc-sub-list{
//     display:none;
//   }

.mdc-list-item__graphic{
  margin-right:0px;
}
  .mdc-sub-list .mdc-list-item{
    padding: 0 40px;

}



.dropdown-toggle::after {
  display:none;
}


.mdc-drawer{
  width: 265px;
  top: 0;
  bottom: 0;
  position: fixed;
  background-color: #f9f9f9;
  a{
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    color: #000;
    mdc-icon{
      font-size: 18px;
    }
  }
}


.admin-toggle{
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 1rem;
}
  .footer{
    position: fixed;
    bottom: 1%;
    height: 20px;
    text-align: center;
    margin-left: 40px;
    font-size: 12px;
  }