<div fxLayout="row" fxLayoutAlign="start">
  <div fxFlex="30%">
    <mdc-drawer drawer="dismissible" #demoDismissible>
      <mdc-drawer-header >
        <div class="row mt-2" *ngIf="login">
          <div class="col align-items-center d-none d-md-flex">
            <div class="mb-5"  placement="bottom-right">

              <a role="button"  routerLinkActive="active" [routerLink]="['/user-profile']">
                <div class="media align-items-center">
                  <span class="avatar avatar-sm rounded-circle">
                    <img alt="Image placeholder" src="https://img.icons8.com/cotton/64/000000/user-male-circle.png" style="width: 50px;"/>
                  </span>
                  <div class="media-body ml-2 d-lg-block">
                    <span class="mb-0 text-sm  font-weight-bold">
                      {{username}}
                    </span>
                  </div>
                  
                
                </div>
              </a>

              <div class="p-2">
                <button  class="btn btn-light"  (click)="logOut()" >
                  <i class=" pr-1 fas fa-running"></i>
                  <span>Выйти</span>
                </button>
              </div>
            </div>
          
          </div>
        </div>

      </mdc-drawer-header>

      <mdc-drawer-content>
        <nav class="navegations ">
            <ul class="mdc-list" >
              <div *ngFor="let key of route.navSection">
                  <li class="mdc-list-item " >
                      <a [routerLink]="route.navLinks[key].location " (click)="route.navLinks[key].name == 'Россия' ? route._isDroped() : ''">
          
                        <!-- <mdc-icon mdcListItemGraphic *ngIf="route.navLinks[key].icon">{{route.navLinks[key].icon}}</mdc-icon> -->
                        <span  *ngIf="route.navLinks[key].icon">
                          <img class="icon-img" src={{route.navLinks[key].icon}} >
                          {{route.navLinks[key].name}}
                        </span>
                        
                        <mdc-icon  mdcListItemGraphic  mdcSuffix *ngIf="route.navLinks[key].name == 'Россия'" >
                          {{route.icon}}
                        </mdc-icon>
                       
                      </a>
    
                  </li> 
    
                    <ul class="mdc-list mdc-sub-list" *ngIf="route.isDroped == true" >
                        <li class="mdc-list-item" *ngFor="let subPage of route.navLinks[key].subPages">
                          <a [routerLink]="subPage.location">
                            <img  mdcListItemGraphic *ngIf="subPage.icon"  src={{subPage.icon}}>
                            <!-- <mdc-icon mdcListItemGraphic *ngIf="subPage.icon">{{subPage.icon}}</mdc-icon> -->
                            {{subPage.name}}
                          </a>
                        </li> 
                    </ul> 
    
              </div>
               
              </ul> <!-- </mdc-list> -->

        </nav>

        <p class="footer">
            Copy@right АСОИУ
        </p>
       
      </mdc-drawer-content>
    </mdc-drawer>
    <div mdcDrawerAppContent>

    </div>

    <div class="layout__row" fxFlex="40%">
      <button class="menu-btn" mdc-fab mini (click)="demoDismissible.open = !demoDismissible.open; _isOpen()">
        <mdc-icon>{{icon}}</mdc-icon>
      </button>
    </div>
  </div>