<div fxLayout="row" fxLayoutAlign="start">
  <div fxFlex="30%">
    <mdc-drawer drawer="dismissible" #demoDismissible>
      <mdc-drawer-header title="Drawer Title" subtitle="Subtitle"></mdc-drawer-header>
      <mdc-drawer-content>
        <nav class="navegations ">
            <ul class="mdc-list" >
              <div *ngFor="let key of navSection">
                  <li class="mdc-list-item " >
                      <a [routerLink]="navLinks[key].location" (click)="navLinks[key].name == 'Россия' ? _isDroped() : ''">
          
                        <mdc-icon mdcListItemGraphic *ngIf="navLinks[key].icon">{{navLinks[key].icon}}</mdc-icon>
                        {{navLinks[key].name}}
                        <mdc-icon  mdcListItemGraphic  mdcSuffix *ngIf="navLinks[key].name == 'Россия'" >
                          {{icon}}
                        </mdc-icon>
                      </a>
    
                  </li> 
    
                    <ul class="mdc-list mdc-sub-list" *ngIf="isDroped == true" >
                        <li class="mdc-list-item" *ngFor="let k of navLinks[key].subPages">
                          <a [routerLink]="k.location">
                            <mdc-icon mdcListItemGraphic *ngIf="k.icon">{{k.icon}}</mdc-icon>
                            {{k.name}}
                          </a>
                        </li> 
                    </ul> 
    
              </div>
               
              </ul> <!-- </mdc-list> -->

        </nav>

        <p class="footer">
            Copy@right АСОИУ
        </p>
       
      </mdc-drawer-content>
    </mdc-drawer>
    <div mdcDrawerAppContent>

    </div>

    <div class="layout__row" fxFlex="40%">
      <button class="menu-btn" mdc-fab mini (click)="demoDismissible.open = !demoDismissible.open">
        <mdc-icon>menu</mdc-icon>
      </button>

    </div>
  </div>