<div fxLayout="row" style="overflow: hidden;">
    <app-side-nav fxFlex></app-side-nav>
    <div fxLayout="column">
        <div class="questions-container">
            <span>
                {{currentQuestion}}
            </span>
        </div>
        <section class="row justify-content-center answer-container">
            <div class="col-md-4 mb-4 mr-4 column-dv" *ngFor="let ans of currentAnswers; index as i" >
                <mdc-card class="mdc-elevation--z10 " [ngStyle]="confirm && {'box-shadow' : ans.state ? '0px 0px 10px 2px green;': '0px 0px 10px 2px red;'}" >
                    <mdc-card-primary-action *ngIf="!confirm" class="card-primary" (click)="getUserAnswers(ans.state)">
                        <p class="index-answer">{{i+1}}</p>
                        <p class="answer"> {{ans.answer}}</p>
                    </mdc-card-primary-action>
                    <div *ngIf="confirm" class="card-primary">
                        <p class="index-answer">{{i+1}}</p>
                        <p class="answer"> {{ans.answer}}</p>
                    </div>
                </mdc-card>
            </div>
           
           
        </section>
        
        <section class="progres-container">
            <button mat-stroked-button color="primary" class="confirm-btn" (click)="onConfirm()">
                confirm
                <mdc-icon>
                    done_all
                </mdc-icon>
            </button>
            <button mat-fab color="accent" class="next-btn" (click)="onNext()">
                <mdc-icon>
                    keyboard_arrow_right
                </mdc-icon>
            </button>
            <mat-progress-bar mode="determinate" [value]="countPercent" color="accent" class="progress-bar">
                    <span>{{countPercent}} + %</span>
            </mat-progress-bar>
           <p>
               {{correctAnswer}}/{{totalQestions}}
           </p>
        </section>
    </div>
    
</div>
