@import "~@angular-mdc/theme/material";


.mdc-drawer{
  top: 3.5rem !important;
}


::ng-deep body{
  background-color: #B0D0EA;
}


//top-bar
//side nav 
@import '../../shared/custom/topbar-side-navbar';

    //content
.card {
    width: 300px;
    margin: 28px;
    position: relative;
    float: left;
    top: 56px;
   //margin-top: 15%;
  }
  
  .card__primary {
    padding: 1rem;
  }
  
  .card__title {
    margin: 0;
    font-size: 1.5rem;
  }
  
//   .card__subtitle {
//     @include mdc-theme-prop(color, text-secondary-on-background);
  
//     margin: 0;
//   }
  
//   .card__secondary {
//     @include mdc-theme-prop(color, text-secondary-on-background);
  
//     padding: 0 1rem 6px 1rem;
//   }
  

