<div *ngIf="!selectedCategory">
  <mat-progress-bar *ngIf="querryProgressBar" mode="query"></mat-progress-bar>
</div>
<div *ngIf="selectedCategory">
  <mat-progress-bar *ngIf="querryProgressBar" mode="query"></mat-progress-bar>
</div>
<mat-toolbar class="mat-elevation-z6">
  <button mat-icon-button class="btn" (click)="opened = !opened">
    <!-- <mat-icon>menu</mat-icon> -->
    <i class="fas fa-bars" style="color: #fff; display: flex"></i>
  </button>

  <span class="bar-spacer"></span>
  <mat-form-field mdcTopAppBarTitle>
    <mat-label>Categories</mat-label>
    <mat-select [(ngModel)]="selectedCategory">
      <mat-option *ngFor="let item of allTrainingCategory" [value]="item">
        {{ item.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-toolbar>

<!-- drawer -->
<div class="drawer-app-content">
  <mat-sidenav-container
    class="main-sidenav-container"
    (backdropClick)="opened = !opened"
  >
    <mat-sidenav
      [mode]="mode"
      [opened]="opened"
      [fixedInViewport]="true"
      [fixedTopGap]="layoutGap"
    >
      <div class="row m-3" *ngIf="login">
        <div class="col align-items-center d-none d-md-flex">
          <div class="mb-5" placement="bottom-right">
            <a
              role="button"
              routerLinkActive="active"
              [routerLink]="['/user-profile']"
            >
              <div class="media align-items-center">
                <span class="avatar avatar-sm rounded-circle p-2">
                  <img
                    alt="Image placeholder"
                    src="../../../../assets/icons/user.png"
                    style="width: 50px"
                  />
                </span>
                <div class="p-2 media-body ml-2 d-lg-block">
                  <span class="mb-0 text-sm font-weight-bold">
                    {{ username }}
                  </span>
                </div>
              </div>
            </a>

            <div class="p-2">
              <button class="btn btn-light" (click)="logOut()">
                <i class="pr-1 fas fa-running"></i>
                <span>Выйти</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div>
        <nav class="navegations">
          <ul class="mdc-list">
            <div *ngFor="let key of route.navSection">
              <li class="mdc-list-item">
                <a
                  [routerLink]="route.navLinks[key].location"
                  (click)="
                    route.navLinks[key].name == 'Россия'
                      ? route._isDroped()
                      : ''
                  "
                >
                  <!-- <mdc-icon mdcListItemGraphic *ngIf="route.navLinks[key].icon">{{route.navLinks[key].icon}}</mdc-icon>
                          {{route.navLinks[key].name}} -->
                  <span *ngIf="route.navLinks[key].icon">
                    <img
                      class="icon-img"
                      src="{{ route.navLinks[key].icon }}"
                    />
                    {{ route.navLinks[key].name }}
                  </span>
                  <mdc-icon
                    mdcListItemGraphic
                    mdcSuffix
                    *ngIf="route.navLinks[key].name == 'Россия'"
                  >
                    <i *ngIf="!route.isDroped" class="fa fa-sort-down"></i>
                    <i *ngIf="route.isDroped" class="fa fa-sort-up"></i>
                  </mdc-icon>
                </a>
              </li>

              <ul class="mdc-list mdc-sub-list" *ngIf="route.isDroped == true">
                <li
                  class="mdc-list-item"
                  *ngFor="let subPage of route.navLinks[key].subPages"
                >
                  <a [routerLink]="subPage.location">
                    <!-- <mdc-icon mdcListItemGraphic *ngIf="subPage.icon">{{subPage.icon}}</mdc-icon> -->
                    <img
                      style="width: 30px"
                      *ngIf="subPage.icon"
                      src="{{ subPage.icon }}"
                    />
                    {{ subPage.name }}
                  </a>
                </li>
              </ul>
            </div>
          </ul>
          <!-- </mdc-list> -->
        </nav>

        <p class="footer">Copy@right АСОИУ</p>
      </div>
    </mat-sidenav>

    <!-- CONTENT -->
    <div mdcDrawerAppContent>
      <!-- not network alert -->
      <not-network *ngIf="notnework" style="margin-top: 60px"></not-network>
      <!-- content -->
      <div #mainContent *ngIf="!selectedCategory" style="margin-top: 60px">
        <mat-card class="card" *ngFor="let item of trainingData; let i = index">
          <span (click)="onSelectedCard(item, i)">
            <span>
              <img mat-card-image src="{{ imgurl(item) }}" alt="cover image" />
            </span>

            <mat-card-content>
              <div class="card__primary">
                <h4 class="card__title" mdcHeadline6>{{ item.title }}</h4>
              </div>
            </mat-card-content>
          </span>
        </mat-card>
      </div>

      <!-- content with selected category -->
      <div #mainContent *ngIf="selectedCategory" style="margin-top: 60px">
        <mat-card
          class="card"
          *ngFor="let item of filteredCategory(); let i = index"
        >
          <span (click)="onSelectedCard(item)">
            <span>
              <img mat-card-image src="{{ imgurl(item) }}" alt="cover image" />
            </span>

            <mat-card-content>
              <div class="card__primary">
                <h4 class="card__title" mdcHeadline6>{{ item.title }}</h4>
              </div>
            </mat-card-content>
          </span>
        </mat-card>
      </div>
    </div>
  </mat-sidenav-container>
</div>
