$mdc-theme-primary: #1565c0; // primary color
$mdc-theme-secondary: #388e3c; // secondary color

@import "~@angular-mdc/theme/material";

@import "@material/elevation/mdc-elevation";


/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@import '~@angular/material/prebuilt-themes/indigo-pink.css';


body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
 }