<!-- <div class="carousel col-lg-12  col-md-12 col-sm-12 col-xs-12">
    <ngb-carousel *ngIf="images" >
        <ng-template ngbSlide *ngFor="let image of images">
            <img [src]="image" alt="Random slide" width="100%">
            <div class="carousel-caption">
                <h2 class="pb-2">Upcoming Events</h2>
            </div>
        </ng-template>
    </ngb-carousel>
</div> -->




    <div class="carousel">
        <owl-carousel-o [options]="customOptions">

            <ng-container *ngFor="let img of images">
                <ng-template carouselSlide>
                    <div class="content-t">
                            <h1>Upcoming Event</h1>
                            <img [src]="img" >
                    </div>
                   
                </ng-template>
              
            </ng-container>

        </owl-carousel-o>
    </div>